src/conf/xml-resources/web-service-references/arancel/wsdl/192.168.1.4_8080/proyectoSA/arancel.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://aranceles/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://aranceles/" name="arancel">
<types>
<xsd:schema>
<xsd:import namespace="http://aranceles/" schemaLocation="http://192.168.1.4:8080/proyectoSA/arancel?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerMontoFormulario">
<part name="parameters" element="tns:obtenerMontoFormulario"/>
</message>
<message name="obtenerMontoFormularioResponse">
<part name="parameters" element="tns:obtenerMontoFormularioResponse"/>
</message>
<message name="actualizarFormulario">
<part name="parameters" element="tns:actualizarFormulario"/>
</message>
<message name="actualizarFormularioResponse">
<part name="parameters" element="tns:actualizarFormularioResponse"/>
</message>
<message name="obtenerArancel">
<part name="parameters" element="tns:obtenerArancel"/>
</message>
<message name="obtenerArancelResponse">
<part name="parameters" element="tns:obtenerArancelResponse"/>
</message>
<message name="calculoMonto">
<part name="parameters" element="tns:calculoMonto"/>
</message>
<message name="calculoMontoResponse">
<part name="parameters" element="tns:calculoMontoResponse"/>
</message>
<message name="validarManifiesto">
<part name="parameters" element="tns:validarManifiesto"/>
</message>
<message name="validarManifiestoResponse">
<part name="parameters" element="tns:validarManifiestoResponse"/>
</message>
<portType name="arancel">
<operation name="obtenerMontoFormulario">
<input wsam:Action="http://aranceles/arancel/obtenerMontoFormularioRequest" message="tns:obtenerMontoFormulario"/>
<output wsam:Action="http://aranceles/arancel/obtenerMontoFormularioResponse" message="tns:obtenerMontoFormularioResponse"/>
</operation>
<operation name="actualizarFormulario">
<input wsam:Action="http://aranceles/arancel/actualizarFormularioRequest" message="tns:actualizarFormulario"/>
<output wsam:Action="http://aranceles/arancel/actualizarFormularioResponse" message="tns:actualizarFormularioResponse"/>
</operation>
<operation name="obtenerArancel">
<input wsam:Action="http://aranceles/arancel/obtenerArancelRequest" message="tns:obtenerArancel"/>
<output wsam:Action="http://aranceles/arancel/obtenerArancelResponse" message="tns:obtenerArancelResponse"/>
</operation>
<operation name="calculoMonto">
<input wsam:Action="http://aranceles/arancel/calculoMontoRequest" message="tns:calculoMonto"/>
<output wsam:Action="http://aranceles/arancel/calculoMontoResponse" message="tns:calculoMontoResponse"/>
</operation>
<operation name="validarManifiesto">
<input wsam:Action="http://aranceles/arancel/validarManifiestoRequest" message="tns:validarManifiesto"/>
<output wsam:Action="http://aranceles/arancel/validarManifiestoResponse" message="tns:validarManifiestoResponse"/>
</operation>
</portType>
<binding name="arancelPortBinding" type="tns:arancel">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerMontoFormulario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarFormulario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerArancel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculoMonto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarManifiesto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="arancel">
<port name="arancelPort" binding="tns:arancelPortBinding">
<soap:address location="http://192.168.1.4:8080/proyectoSA/arancel"/>
</port>
</service>
</definitions>