src/conf/xml-resources/web-service-references/ServiciosGT2/wsdl/localhost_8080/SA_GT2/ServiciosGT2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="ServiciosGT2">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/SA_GT2/ServiciosGT2?xsd=1"/>
</xsd:schema>
</types>
<message name="PagarImpuestos">
<part name="parameters" element="tns:PagarImpuestos"/>
</message>
<message name="PagarImpuestosResponse">
<part name="parameters" element="tns:PagarImpuestosResponse"/>
</message>
<message name="GenerarFactura">
<part name="parameters" element="tns:GenerarFactura"/>
</message>
<message name="GenerarFacturaResponse">
<part name="parameters" element="tns:GenerarFacturaResponse"/>
</message>
<message name="PagarPaquete">
<part name="parameters" element="tns:PagarPaquete"/>
</message>
<message name="PagarPaqueteResponse">
<part name="parameters" element="tns:PagarPaqueteResponse"/>
</message>
<message name="RecibirFormulario">
<part name="parameters" element="tns:RecibirFormulario"/>
</message>
<message name="RecibirFormularioResponse">
<part name="parameters" element="tns:RecibirFormularioResponse"/>
</message>
<portType name="ServiciosGT2">
<operation name="PagarImpuestos">
<input wsam:Action="http://Servicios/ServiciosGT2/PagarImpuestosRequest" message="tns:PagarImpuestos"/>
<output wsam:Action="http://Servicios/ServiciosGT2/PagarImpuestosResponse" message="tns:PagarImpuestosResponse"/>
</operation>
<operation name="GenerarFactura">
<input wsam:Action="http://Servicios/ServiciosGT2/GenerarFacturaRequest" message="tns:GenerarFactura"/>
<output wsam:Action="http://Servicios/ServiciosGT2/GenerarFacturaResponse" message="tns:GenerarFacturaResponse"/>
</operation>
<operation name="PagarPaquete">
<input wsam:Action="http://Servicios/ServiciosGT2/PagarPaqueteRequest" message="tns:PagarPaquete"/>
<output wsam:Action="http://Servicios/ServiciosGT2/PagarPaqueteResponse" message="tns:PagarPaqueteResponse"/>
</operation>
<operation name="RecibirFormulario">
<input wsam:Action="http://Servicios/ServiciosGT2/RecibirFormularioRequest" message="tns:RecibirFormulario"/>
<output wsam:Action="http://Servicios/ServiciosGT2/RecibirFormularioResponse" message="tns:RecibirFormularioResponse"/>
</operation>
</portType>
<binding name="ServiciosGT2PortBinding" type="tns:ServiciosGT2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="PagarImpuestos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GenerarFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PagarPaquete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecibirFormulario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiciosGT2">
<port name="ServiciosGT2Port" binding="tns:ServiciosGT2PortBinding">
<soap:address location="http://localhost:8080/SA_GT2/ServiciosGT2"/>
</port>
</service>
</definitions>